{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}
<div class="container-fluid p-4">
    <h1 class="mt-2">Episode {{ episode.number }}</h1>
       <h3>{{ episode.title }}</h3>
                <p>Synopsis</p>
                <p>{{ episode.synopsis }}</p>
        <a href="{{ path('episode_index') }}">retour</a>

    <h3 class="mt-5 mb-2">Commentaires</h3>
    {% if app.user %}
        <div class="container mt-5">
            <div class="row">
                <div class="col-6">
                 {{ include('comment/_form.html.twig') }}
               </div>
            </div>
        </div>
            {% endif %}
    {% for comment in comments %}
        <div class="jumbotron section mt-5">
            <p class="text-secondary font-weight-bolder">Commentaires de {{ comment.author.email}}</p>
            <p>{{ comment.comment }}</p>
            <p>Note : {{ comment.rate }} </p>
            <p>{{ comment.date|date('d/m/Y') }}</p>
            {% if comment.author %}
                {% if  (app.user.email == comment.author.email) or (is_granted('ROLE_ADMIN')) %}
                {{ include('comment/_delete_form.html.twig') }}
                {% endif %}
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock %}
