{% extends 'base.html.twig' %}

{% block title %}Season index{% endblock %}

{% block body %}
<div class="container-fluid p-4">
    <h1 class="mt-2">Saison index  <a href="{{ path('season_new') }}"><button type="button" class="btn btn-primary">Ajouter</button></a></h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Year</th>
                <th>Description</th>
                <th>SeasonNumber</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td>{{ season.id }} </td>
                <td>{{ season.year }}</td>
                <td>{{ season.description }}</td>
                <td>{{ season.seasonNumber }}</td>
                <td>
                    <a href="{{ path('season_show', {'id': season.id}) }}"><span class="badge badge-secondary">afficher</span></a>
                    <a href="{{ path('season_edit', {'id': season.id}) }}"><span class="badge badge-info">éditer</span></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


</div>
{% endblock %}
